* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  padding-top: 50px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto
}

h1 {
  font-size: 48px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.sectionContainer a {
  text-decoration: none;
  color: #000;
}

.sectionContainer .moreInfo {
  text-decoration: underline;
  text-align: start;
}

.imgContainer {
  position: relative;
  transition: filter .4s;
}

.imgContainer img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(137, 137, 137, 0.25);
  transform: scale(1);
  transition: transform .2s;
}

.imgContainer img:hover {
  transform: scale(1.02);
}

.imgContainer h2 {
  font-size: 32px;
}


.imgContainer .containerNr{
  position: absolute;
  left: -30;
  top: -30;
  width: auto;
  height: 80px;
  text-align: center;
  font-size: 64px;
  border-radius: 16px;
  background-color:#fff;
  box-shadow: 2px 2px 4px rgba(137, 137, 137, 0.25);
  margin: 0;
}

.imgContainer img {
  max-width: 1200px;
}