* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  padding-top: 50px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}
h1 span {
  color: #f5735e;
}
.pageHead {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 56px;
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.sectionContainer a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
}

.textContainer {
  width: calc(50% - 40px);
  margin-left: 40px;
}
.textContainer h2 {
  margin-top: 0;

}

.sectionContainer .moreInfo {
  text-decoration: underline;
  text-align: start;
  color: #f5735e;
}

.imgContainer {
  position: relative;
  transition: filter .4s;
  width: 40%;
}

.imgContainer img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(137, 137, 137, 0.25);
  transform: scale(1);
  transition: transform .2s;
}

.imgContainer img:hover {
  transform: scale(1.02);
}

.imgContainer h2 {
  font-size: 32px;
}


.imgContainer .containerNr{
  position: absolute;
  left: -30;
  top: -30;
  width: auto;
  height: 80px;
  text-align: center;
  font-size: 64px;
  border-radius: 16px;
  background-color:#fff;
  box-shadow: 2px 2px 4px rgba(137, 137, 137, 0.25);
  margin: 0;
}

.imgContainer img {
  max-width: 1200px;
}

.lebenslauf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lebenslauf .row{
  display: flex;
  margin-bottom: 24px;
}
.lebenslauf .row{
  width: 650px;
}
.lebenslauf h2, h3 {
  width: 650px;
}

.lebenslauf .row .time {
  width: 250px;
}

.lebenslauf .row .work {
  margin-left: 20px;
  width: 400px;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  body {
    width: 95%;
  }
  .pageHead {
    width: 100%;
    margin-bottom: 24px;
  }
  .pageHead .headerText {
    font-size: 12px;
  }
  .lebenslauf h2, h3 {
    width: 100%;
  }

  .lebenslauf .row {
    width: 100%;
    font-size: 14px;
  }

  .lebenslauf .row .time {
    width: 30%;
  }
  .lebenslauf .row .work {
    width: 70%;
    margin-left: 10px;
  }
}